extends layout
block content
  link(rel='stylesheet' href='css/manual.css')
  script(src='javascripts/manual.js')
  div.container
    h1
      a(href='/')= title
    form(action='pickPlace();' class="form-group")
      div
        input(type="text" placeholder="Restaurant" class="restaurant form-control" required)
      div
        input(type="text" placeholder="Restaurant" class="restaurant form-control" required)
      div#buttons
        button(type="button" class="btn btn-primary pull-left" id="add" onclick="addPlace();")
          span(class="glypicon glyhicon-plus") Add Restaurant
        button(type="button" class="btn btn-success pull-right" id="submit" onclick="pickPlace();") Pick a place!
      div.clearfix